/* google font (work sans) */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}

/* CSS Variables */
:root {
    --dark-01: rgba(19, 19, 19, 1);
    --dark-02: rgba(66, 66, 66, 1);
    --dark-03: rgba(114, 114, 114, 1);
    --bg-primary: rgba(255, 144, 14, 0.1);
}

/* shared styles or reuse styles */
.d-flex {
    display: flex;
}
.dark-01 {
    color: var(--dark-01);
}
.dark-02 {
    color: var(--dark-02);
}
.dark-03 {
    color: var(--dark-03);
}
.bg-primary {
    background: var(--bg-primary);
}
.text-01 {
    color: var(--dark-03);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.btn-primary {
    background-color: #ff900e;
    color: #FFF;
    padding: 14px 28px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
html {
    
}
img {
    width: 100%;
}

/* ------ header styles -------- */
header {
    padding: 2.5rem 0;
    background-color: var(--bg-primary);
}
/* nav related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    color: var(--dark-02);
    font-weight: 500;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    max-width: 850px;
    margin: 80px auto;
    text-align: center;
    margin-bottom: 1.2rem;
}

.banner-title {
    color: var(--dark-01);
    font-size: 3.5rem;
}
.banner-description {
    margin: 0.8rem 0;
}


/* ------ main styles -------- */






/* ------ footer styles -------- */



/* -------- responsive media query ----------- */
@media screen and (max-width:576px) {
    .navbar, .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .banner {
        padding: 0 20px;
    }
    .banner-content {
        margin: 1rem auto;
    }
    .banner-title{
        font-size: 2rem;
    }
   
}

@media screen and (min-width:577px) and (max-width:992px) {
    .navbar, .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .banner {
        padding: 0 50px;
    }
    .banner-content {
        margin: 1rem auto;
    }

    
}